.body{
  overflow: hidden;

}

.card-header {
  padding: 0 !important;
}
mat-form-field {
  padding-right: 5px;
  width: 180px;
}
.common.card-base-1{
  margin-top: 50px;
}
.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 5px 5px 5px 5px;
}

::ng-deep mat-from-field > .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  height:20px;
}
.mat-form-field-flex{
  height: 20px;
}
.search-text{
  margin-top: 0px;
  margin-left: 0px;
  background-color: aliceblue;
  border-bottom: 1px solid whitesmoke;
  height: 33px;
}
.search_text
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 0px;
  margin-left: 25px;
  font-weight: 500;
}

.search-icon{
  margin-top: 4px; 
  margin-right: 20px;
}
.card-header-header-font{
  background-color:aliceblue;
  
}

.header-font{
    margin-top: 0px;
    background-color:aliceblue;
    }
  .col{
    height: 55px;
    width: 100%;
    top: 16px;
  }
  
  
  
  td.mat-cell
{
  padding-left:12px;
  word-wrap: break-word;
  font-size: 12px;
  
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-weight: 700;
  padding-left: 12px;
  width: 30%;
}
.example-button-row
{
 position:relative;
 text-align: center;
 margin-top: 20px;
 margin-left:14px;

}
.mat-raised-button{
  margin-right: 15px;
  margin-left : 10pxpx;
  width: 130px;
  height:35px;
  color:white;
  background-color:#17a2b8;
  bottom: 18px;
}
.mat-header-row{
  background-color:#17a2b8 !important;
  color:white;
}
.mat-row:nth-child(odd) {
  background-color: rgb(240, 247, 246);

}

.mat-row:nth-child(even) {
  background-color: white;
}
th.mat-header-cell {
  color:white;
  font-weight: 400;
}

.mt-15 {
  box-shadow: 0px 0px 10px 0px grey;
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 1px;
}
th.mat-sort-header-sorted {
  color: black;
}
.card{
  margin-top: 50px;
  top: 0px;
  box-shadow: 0px 0px 10px 0px grey;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
.mat-form-field{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 12px;
}
.container-fluid{
background-color: white;
}
.table-container{
  width: 100%;
  overflow: auto;
}

.material-icons{
  cursor: pointer;
  width: 14px;
}
.thead{
  font-size: 14px;
}

.mat-table-sticky {
  
  font-size: 14px;
}

.selectMen{
  float: left;
  margin-left: 10px;
  margin-top: 0px;
}
.paginationItems{
  margin-right: 40px;
  width: 75px;
}
.mat-form-field-wrapper{
  margin-left: 110px;
}

.pagination{
  margin-right: 5px;
}
a{
  margin-top: 15px;
  margin-right: 10px;
} 

.search{
  height: 40px;
  border: 1px solid rgba(18, 18, 18, 0.18);
  width: 555px;
  margin-top: 8px;
  margin-right: 6px;
  border-radius: 4px;
}
.searchcard{
    width: 554px;
    height: 306px;
    z-index: 1000;
}
  table {
    display: table;
    width: 100%;
    background-color: inherit;
  }

  text {
    width: 100%;
  }

  input {
    outline: none;
    border: none;
    text-indent: 1em;
    width: 100%;
    border-radius: 6px;
  }

  mat-icon {
    padding-top: 5px;
    cursor: pointer;
  }

  .advanced-search {
    margin: 0;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 0 0 2px 2px;
    position: absolute;
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, .5);
    width: calc(100% - 3px);
    padding: 10px 0 6px;
    &:hover {
      box-shadow: 5px 5px 5px rgba(18, 18, 18, 0.11);
    }
  }
  .custom-form-field{
    width: 175px;
    height: 60px;
  }

.mat-form-field-appearance-outline{
  height: 40px;

} 
.mat-form-field-appearance-outline{
  width: 150px;
  margin-left: 14px;
} 
