<div class="wrapper-1">
    <div id="content">
        <div class="mt-10 ">
            <div class="common card-base-1">
                <div class="body">
                    <div class="mt-15">
                        <div class="card-header header-font" fxLayout="row" fxLayoutAlign="end">
                            <div class="col">
                                <b> INVOICE SUMMARY </b>
                            </div>
                            <div class="search">
                                <table>
                                    <tr>
                                        <td class="search-text">
                                            <input type="text" placeholder="Search Invoice Summary">
                                        </td>
                                        
                                        <td *ngIf="isSearchAvailable()">
                                            <mat-icon (click)="toggleSearch()" matTooltip="Search">{{icon}}</mat-icon>
                                        </td>
                                    </tr>
                                </table>
                                <mat-card *ngIf="openAdvanceSearch" class="searchcard">
                                    <div class="card-body" fxLayout="column" fxLayoutAlign="none" fxLayoutGap="120px">
                                        <form [formGroup]="invoiceSummaryForm">

                                            <!-- <label for="taskId">Inv # / Task Id</label> -->
                                            <div class="form" fxLayout="row" fxLayoutAlign="space-between center">
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Inv #</mat-label>
                                                    <input matInput formControlName="Invoice" />
                                                </mat-form-field>
                                                <!-- <label for="exampleInputPassword1">PO</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>PO</mat-label>
                                                    <input matInput formControlName="PO" />
                                                </mat-form-field>

                                                <!-- <label for="exampleInputEmail1">Vendor</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Vendor</mat-label>
                                                    <mat-select formControlName="VendorCode">
                                                        <mat-option *ngFor="let vendorList of vendorCodeList"
                                                            value="{{vendorList.vendorCode}}"
                                                            (click)="vendorNameSet(vendorList)">
                                                            {{vendorList.vendorCode}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="form" fxLayout="row" fxLayoutAlign=" none">
                                                <!-- <label for="exampleInputPassword1">Vendor Name</label> /> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Vendor Name</mat-label>
                                                    <input matInput formControlName="VendorName">
                                                </mat-form-field>

                                                <!-- <label >Status</label>
                                                <input type="dropdown" class="form-control" /> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Status</mat-label>
                                                    <mat-select formControlName="InvoiceStatusCode">
                                                        <mat-option *ngFor="let status of statusElement"
                                                            value={{status.invoiceStatusCode}}>
                                                            {{status.invoiceStatus}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <br>
                                                <!-- <label for="exampleInputEmail1">Invoice Classification</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Invoice Classification</mat-label>
                                                    <mat-select formControlName="InvoiceClassification">
                                                        <mat-option *ngFor="let element of invoiceStatusClassification"
                                                            value="element.invoiceClassification">
                                                            {{element.invoiceClassification}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </div>
                                            <div class="form" fxLayout="row" fxLayoutAlign=" none">
                                                <!-- <label for="exampleInputPassword1">From Invoice Date</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <input matInput formControlName="FromInvoiceDate"
                                                        [matDatepicker]="picker4" placeholder="From Invoice Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker4">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker4></mat-datepicker>
                                                </mat-form-field>
                                                <!-- <label for="exampleInputEmail1">To Invoice Date</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <input matInput formControlName="ToInvoiceDate"
                                                        [matDatepicker]="picker3" placeholder="To Invoice Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                                <!-- <label for="exampleInputPassword1">Entity Name</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Entity Name</mat-label>
                                                    <input matInput formControlName="EntityName" value="India" />
                                                </mat-form-field>
                                            </div>
                                            <div class="form" fxLayout="row" fxLayoutAlign=" none">

                                                <!-- <label for="exampleInputPassword1">Type</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Invoice Type</mat-label>
                                                    <mat-select formControlName="Type">
                                                        <mat-option value="">---Select---</mat-option>
                                                        <mat-option value="PO">PO</mat-option>
                                                        <mat-option value="NON-PO">NON-PO</mat-option>
                                                    </mat-select>
                                                </mat-form-field>


                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Document #</mat-label>
                                                    <input matInput formControlName="DocumentNo" />
                                                </mat-form-field>
                                                <!-- <label for="exampleInputPassword1">Pending With</label> -->
                                                <mat-form-field appearance="outline" class="custom-form-field">
                                                    <mat-label>Pending With</mat-label>
                                                    <input matInput formControlName="PendingWith" />
                                                </mat-form-field>
                                            </div>
                                            <br>
                                            <div class="example-button-row">
                                                <button mat-raised-button (click)="getSummaryTable()">Search</button>
                                                <button mat-raised-button (click)="resetForm()">Clear</button>
                                            </div>
                                        </form>
                                    </div>

                                </mat-card>
                            </div>

                        </div>

                        <div class="selectMen">
                            <mat-form-field>
                                <mat-label>Select menu</mat-label>
                                <mat-select multiple [(ngModel)]="preselectedValues"
                                    (selectionChange)="onSelectMenus($event)">
                                    <ng-container *ngFor="let item of menuItems">
                                        <mat-option [value]="item.value">
                                            {{item.key}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end none" class="pagination">
                            <mat-form-field class="paginationItems">
                                <mat-label>Items per page:</mat-label>
                                <mat-select (selectionChange)="onSelectPaginationItems($event)" [(value)]="selected">
                                    <mat-option *ngFor="let pageItems of paginationItems" [value]="pageItems.value">
                                        {{pageItems.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <a (click)="firstPage()">
                                <i class="material-icons" matTooltip="First page">
                                    first_page
                                </i>
                            </a>

                            <a (click)="prviousPage()">
                                <i class="material-icons" matTooltip="Previous page">
                                    keyboard_arrow_left
                                </i>
                            </a>

                            <a (click)="nextPage()">
                                <i class="material-icons" matTooltip="Next page">
                                    keyboard_arrow_right
                                </i>
                            </a>

                            <a (click)="lastPage()">
                                <i class="material-icons" matTooltip="Last page">
                                    last_page
                                </i>
                            </a>
                        </div>
                        <div [style.display]="!loadSummarySpinner ? 'none' : 'block'">
                            <app-saw-loader></app-saw-loader>
                        </div>
                        <div [style.display]="loadSummarySpinner ? 'none' : 'block'">
                            <div class="table-container">
                                <table mat-table [dataSource]="invoicesummaryDataSource" matSort
                                    class="mat-elevation-z8">

                                    <ng-container matColumnDef="stage">
                                        <th mat-header-cell *matHeaderCellDef> Stage </th>
                                        <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="UrgentFlag">
                                        <th mat-header-cell *matHeaderCellDef> Urgent flag </th>
                                        <td mat-cell *matCellDef="let element"> {{element.UrgentFlag}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="EntityName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header asc> Entity name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.EntityName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="VendorName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.VendorName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="VendorCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor code </th>
                                        <td mat-cell *matCellDef="let element"> {{element.VendorCode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Invoice">
                                        <th mat-header-cell *matHeaderCellDef> Invoice </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Invoice}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PendingWith">
                                        <th mat-header-cell *matHeaderCellDef> Pending with </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PendingWith}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef> Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Classification">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Classification </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Classification}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="WorkItem">
                                        <th mat-header-cell *matHeaderCellDef> Work item </th>
                                        <td mat-cell *matCellDef="let element"> {{element.WorkItem}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.InvoiceDate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Currency">
                                        <th mat-header-cell *matHeaderCellDef> Currency </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Mode">
                                        <th mat-header-cell *matHeaderCellDef> Mode </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Mode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="RecievedDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recieved date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.RecievedDate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PO">
                                        <th mat-header-cell *matHeaderCellDef> PO #</th>
                                        <td mat-cell *matCellDef="let element"> {{element.PO}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="BuyerApprover">
                                        <th mat-header-cell *matHeaderCellDef> Buyer approver </th>
                                        <td mat-cell *matCellDef="let element"> {{element.BuyerApprover}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ERPdueDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ERP due date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ERPdueDate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PostingDocNum">
                                        <th mat-header-cell *matHeaderCellDef> Posting doc num </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PostingDocNum}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PostingDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posting date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PostingDate }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ProcessedBy">
                                        <th mat-header-cell *matHeaderCellDef> Processed by </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ProcessedBy}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="GrossInvAmt">
                                        <th mat-header-cell *matHeaderCellDef> Gross inv amt </th>
                                        <td mat-cell *matCellDef="let element"> {{element.GrossInvAmt}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OCCId">
                                        <th mat-header-cell *matHeaderCellDef> OCC id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.OCCId}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentNo">
                                        <th mat-header-cell *matHeaderCellDef> Payment no </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PaymentNo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentDate">
                                        <th mat-header-cell *matHeaderCellDef> Payment date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PaymentDate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentStatus">
                                        <th mat-header-cell *matHeaderCellDef> Payment status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.PaymentStatus}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PDF">
                                        <th mat-header-cell *matHeaderCellDef> PDF </th>
                                        <td mat-cell *matCellDef="let element" matTooltip="Download 
                                        {{element.Invoice}}" matTooltipPosition="right">
                                            <i class="material-icons" (click)="download()">
                                                cloud_download
                                            </i>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" class="centre">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"
                                        (dblclick)="invoiceDetails(row.Invoice, row.internalID)"></tr>

                                </table>
                            </div>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40, 50]" showFirstLastButtons
                                (page)="onPaginateChange($event)">  
                            </mat-paginator> -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>