<div fxLayout="row" fxLayoutAlign="space-around center" class="alignBtn">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button [ngStyle]="saveStyles"  *ngIf="!endSaveBtn" (click)="saveData()">Save</button>
            <button [ngStyle]="cancelStyles" (click)="cancelInvoice()">Cancel</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button  style="border-radius: 25px 0px 0px 25px !important;border-right: none; " (click)="approveReject()">Approve</button>
            <button  style="border-radius: 0px 25px 25px 0px !important;" (click)="approveReject()">Reject</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button  style="border-radius: 25px 0px 0px 25px !important;border-right: none; " >Submit</button>
            <button  style="border-radius: 0px 25px 25px 0px !important;" (click)="downloadInvoice()">Download</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button  style="border-radius: 25px 0px 0px 25px !important;border-right: none; "(click)="pullPO_GR()">Pull PO/GR</button>
            <button style="border-right: none;" (click)="postToERP()">Post to ERP</button>
            <button style="border-right: none;" *ngIf="enbReverseExit" (click)="reverese_exit()">Revesre & Exit</button>
            <button  style="border-radius: 0px 25px 25px 0px !important;" (click)="reverese_post()">Revesre & Post</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button  style="border-radius: 25px !important;" (click)="return_to_validator()" >Return to validator</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button [ngStyle]="commentStyles" *ngIf="!enbCommentBtn" (click)="saveComment()">Save
                Comments</button>
            <button [ngStyle]="modifyStyles" (click)="modifyInvoiceDetails()">Modify Invoice Lines</button>
        </div>
</div>