<mat-toolbar color="primary" style="position: fixed;top: 0;z-index: 3;">
  <mat-toolbar-row>
    
        <img [routerLink]="'/home'" src="http://111.93.191.82:96/home/Muraai/com/opentext/portal/sims-app/assets/icons/muraai-logo.png"
      class="company-logo">
    <span class="menu-spacer"></span>
    <div fxLayout="row" fxLayoutAlign="space-evenly none" style="margin-right: 27px;">
      <a mat-button [routerLink]="'/home'"> <mat-icon>home</mat-icon> </a>
      <!--Static content for Home button-->
      <a mat-button [routerLink]="'/inbox'"> <mat-icon> message</mat-icon> </a>

      <a mat-button [routerLink]="'/invoice-summary'"> Invoice Summary </a>
      <!--Static content for Invoice Summary-->
      <div fxLayout="row" fxLayoutAlign="center center" >
      <a mat-button style="margin-right: -30px;">
        <mat-icon>account_circle</mat-icon>
      </a>
      <!--           <div class="menu-item" *ngFor="let menu of menuList" fxLayout="row" fxLayoutAlign="space-evenly none">
            {{menu.MenuName}}
            <div class="dropdown-content" style="left:0;">
              <a mat-button [routerLink]="menu.FormURL" *ngFor="let menu of menu.SubMenus">{{menu.FormName}}</a>
            </div>
          </div>      
 -->
      <div class="menu-item" fxLayout="row" fxLayoutAlign="space-evenly none">
        <!--Repeating content for Menu Item-->
        {{userDetails.ud_user_name[0]}}
        <div class="dropdown-content" style="left:0;">
          <a mat-button [routerLink]="'/userProfile'">Profile</a>
          <a mat-button [routerLink]="">Log Out</a>
          <!--Repeating content for Sub Menu Item-->
        </div>
      </div>
    </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>