<!-- <mat-card-content>
    <mat-toolbar>

    </mat-toolbar>
    <app-invoice-header [invNum]="invoiceNumber" [internalId]="internalId" [taskId]="taskId" [mode]="mode"></app-invoice-header>
    <mat-accordion>
        <mat-expansion-panel [expanded]="action === 0" (opened)="action === 0" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Invoice Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-invoice-detail-tab [invNum]="invoiceNumber" [internalId]="internalId"></app-invoice-detail-tab>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bank Details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Invoice Bank Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-invoice-bank-detail-tab></app-invoice-bank-detail-tab>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Vendor Bank Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-vendor-bank-detail-tab></app-vendor-bank-detail-tab>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tax & Freight
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-tax-freight-detail-tab></app-tax-freight-detail-tab>
        </mat-expansion-panel>
    </mat-accordion>
    <br>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Comments
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-invoice-comment-tab></app-invoice-comment-tab>
        </mat-expansion-panel>
    </mat-accordion>
    <br>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Uploads
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-upload-detail-tab></app-upload-detail-tab>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Three way Matching
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-invoice-three-way-matching [invoiceNum]="invoiceNumber" [internalDocId]="internalId"></app-invoice-three-way-matching>
        </mat-expansion-panel>
    </mat-accordion> -->
<div div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="2">
        <mat-icon class="menu-extended lft" color="primary" (click)="defaultLayoutMode()" *ngIf="!isOverLayMode" matTooltip="Click to Shrink">keyboard_arrow_left</mat-icon>
    </div>
    <div fxFlex="98">
        <mat-tab-group>
            <mat-tab label="Header">
                <app-invoice-header [invNum]="invoiceNumber" [internalId]="internalId" [taskId]="taskId" [mode]="mode"></app-invoice-header>
            </mat-tab>
            <mat-tab label="Details">
                <app-invoice-detail-tab [invNum]="invoiceNumber" [internalId]="internalId"></app-invoice-detail-tab>
            </mat-tab>
            <mat-tab label="Bank Details">
                <br>
                <mat-tab-group>
                    <mat-tab label="Invoice Bank Details">
                        <app-invoice-bank-detail-tab></app-invoice-bank-detail-tab>
                    </mat-tab>
                    <mat-tab label="Vendor Bank Details">
                        <app-vendor-bank-detail-tab></app-vendor-bank-detail-tab>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
            <mat-tab label="Tax & Freight">
                <app-tax-freight-detail-tab></app-tax-freight-detail-tab>
            </mat-tab>
            <mat-tab label="Comments">
                <app-invoice-comment-tab></app-invoice-comment-tab>
            </mat-tab>
            <mat-tab label="Uploads">
                <app-upload-detail-tab></app-upload-detail-tab>
            </mat-tab>
            <mat-tab label="Three way Matching">
                <app-invoice-three-way-matching [invoiceNum]="invoiceNumber" [internalDocId]="internalId"></app-invoice-three-way-matching>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxFlex="2">
        <mat-icon class="menu-extended rght" color="primary" (click)="fullScreenMode()" *ngIf="isOverLayMode" matTooltip="Click to Expand">keyboard_arrow_right</mat-icon>
    </div>
</div>