.mat-raised-button{
    margin-right: 5px;
    margin-left: 33px;
    width: 127px;
    color:white;
    background-color:#0d47a1;
    padding-right: 10px;
    padding-left: 10px;
  }
.mat-form-field{
  margin-right: 10px;
}
.mat-form-field-wrapper {
  padding-left: 3em;
}
.mat-header-row{
background-color: #17a2b8 !important;
    color: white;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-weight: 400;
  color:white;
  
    //padding: 6px;
    padding-left:12px;

}