<h2 mat-dialog-title>Edit Basic Info</h2>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Name">
            </mat-form-field>
        </div>
        <div fxLayout>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>